.element__like {
  margin: 0 0 0 34px;
  padding: 0;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/Group.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #FFF;
  border: 0;
}

.element__like:hover {
  cursor: pointer;
  opacity: 0.6;
}